
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-star,.icon-arrow-up, .icon-arrow-down{
	cursor: pointer;
}

.icon-star:after{
	color: yellow;
	content: "\e000";
	float: right;
	font-family: 'icomoon';
	font-size: 1.5em;
	margin-bottom: 0.2em;
	text-align: right;
	width: 10%;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}

/*
.icon-arrow-up, .icon-arrow-down{
	cursor: pointer;
}
*/


.icon-arrow-up:after {
	color: green;
	content: "\e001";
	font-family: 'icomoon';
	font-size: 1em;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}

.icon-arrow-down:after {
	color: red;
	content: "\e002";
	font-family: 'icomoon';
	font-size: 1em;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000;
}



body{
	background-color: gold;
	font-family: 'Roboto', sans-serif; 
}

h1, h2{
	margin: ;
}

header h1{
	color: blue;
	display: inline-block;
	font-size: 3em;
	max-width: 70%;
}

header figure{
	display: inline-block;
	float: right;
	width: 20%;
}

	figure img{
		height: auto;
		width: 100%;
	}

nav{
	background-color: blue;
	clear: both;
	padding: 0.1em 0px;
	width: 100%;
}
	nav ul{
		list-style: none;
	}
		nav ul li{
			display: inline-block;
			margin-right: 1em;
		}

			nav ul li a{
				color: white;
				text-decoration: none;
			}

			nav ul li a:hover{
				color: orange;
			}

section{
	width: 100%;
}
	
	section article{
		background-color: #AAA;
		border: 2px solid blue;
		margin: 0.3em 0 4.5em 0;
		position: relative;
	}
		section article figure{
			display: inline-block;
			vertical-align: top;
			width: 20%;
		}

		section article .contenidoArticle{
			display: inline-block;
			width: 75%;
		}

		section article h2{
			display: inline-block;
			font-size: 2em;
			font-weight: bold;
		}

		section article h2 a{
			text-decoration: none;
		}
	section article .votacion{
		border: 1px solid red;
		border-radius: 0 0 10px 10px;
		margin-top: 2px;
		position: absolute;
		top: 100%;
		text-align: center;
		width: 20%;
	}
		section article .votacion p{
			display: inline-block;
		}

aside{
	background-color: green;
	color: white;
	display: none;
}

footer{
	background-color: grey;
	color: white;
	font-weight: bold;
	padding: 2px;
	text-align: center;
}























































