@media screen and (min-width: 768px){
	body{
		/*border: 5px solid red;*/ 
	}

	#contenedor{
		margin: 0 auto;
		max-width: 1200px;
	}

	section{
		width: 68%;
		display: inline-block;
		margin-right: 0.3em;
	}

	aside{
		display: inline-block;
		vertical-align: top;
		width: 30%;
	}
}